/* Color Palette */
:root {
    --slate-navy: #2A3E59;
    --light-gray: #BBB;
    --copper-gold: #c70;
    --accent-blue: #3A66B2;
    --accent-gold: #c91;
    --text-color: #333;
    --white: #EED;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--slate-navy);
    color: var(--white);
    height: 100vh;
    overflow: hidden;
}

/* Neon Green Visited Links */
.neon-green a:visited {
    color: #c70;
}

/* Default link color */
a {
    color: var(--accent-blue);
}

/* Override for other text within cards */
.section .content p,
.section .content ul {
    color: var(--text-color);
}


.container {
    display: flex;
    height: 100%;
    width: 100%;
}


.sidebar {
    background-color: var(--slate-navy);
    width: 30%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    background-color: var(--white);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--white);
}

.bio {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--white);
    padding: 0 20px;
}


.vertical-line {
    width: 6px;
    background-color: var(--copper-gold);
    height: 80%;
    align-self: center;
    border-radius: 1px;
}


.main-content {
    background-color: var(--slate-navy);
    width: 70%;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
    max-height: 100vh;
}

/* Accordion Sections */
.hidden-input {
    display: none;
}

.section {
    background-color: var(--light-gray);
    padding: 20px;
    border: 1px solid var(--copper-gold);
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    margin-bottom: 10px; 
}

.section-header {
    display: flex;
    align-items: center;
}

.section .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.hidden-input:checked + .section .content {
    max-height: 500px;
}

.hidden-input:not(:checked) + .section .content {
    max-height: 0;
}

.hidden-input:checked + .section {
    background-color: var(--light-gray);
}

.title-wrapper {
    display: flex;
    align-items: center;
    width: 33%;
    min-width: 400px;
    max-width: 450px;
    white-space: nowrap;
}

.title-wrapper h2 {
    margin-left: 10px;
}

.image-title {
    display: flex;
    align-items: center;
}

.stock-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
}

.vertical-line2 {
    width: 2px;
    background-color: var(--slate-navy);
    height: 150px;
    margin: 0 20px;
}

/* Snippet Cards */
.snippet-card {
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--accent-blue);
}

.snippet-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}

.snippet-card h3 {
    margin: 0 0 10px 0;
    color: var(--text-color);
    font-size: 18px;
}

.snippet-card p {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #555;
}

.snippet-card a {
    color: var(--accent-blue);
    font-size: 14px;
    text-decoration: none;
}

.snippet-card a:hover {
    text-decoration: underline;
}

.snippet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.five-spacer {
    min-height: 5px;
    max-height: 5px;
    width: 100%;
}

.ten-spacer {
    min-height: 10px;
    max-height: 10px;
    width: 100%;
}


/* Mobile Styling */
@media screen and (max-aspect-ration: 9/16) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
        order: 1; /* Place the sidebar at the top */
    }

    .main-content {
        width: 100%;
        padding: 20px;
        order: 2; /* Ensure main content follows the sidebar */
    }

    .section {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-title, .title-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .stock-image {
        margin-bottom: 10px;
    }

    .section .content {
        max-height: none;
        overflow: visible;
    }
}
