
:root {
  --asphalt-purple: #4B3869;
  --digital-green: #66FF99;
  --rusted-copper: #C96A23;
  --dark-concrete: #1A1A1A;
  --white: #EED;
  --accent-blue: #3A66B2;
  --text-color: #ccc;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--dark-concrete);
  color: var(--white);
  height: 100vh;
  overflow: hidden;
}
.neon-green a:visited {
  color: var(--rusted-copper);
}

a {
  color: var(--digital-green);
}

.section .content p,
.section .content ul {
  color: var(--text-color);
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: var(--dark-concrete);
  background-image: url(/img/triangles.png);
  background-repeat: repeat;
  width: 30%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  background-color: var(--white);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--white);
}

.bio {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--white);
  padding: 0 20px;
}

.vertical-line {
  width: 2px;
  background-color: var(--asphalt-purple);
  background: radial-gradient(circle, var(--asphalt-purple) 30%, var(--dark-concrete) 100%);
  height: 80%;
  align-self: center;
  border-radius: 1px;
}

.main-content {
  background-color: var(--dark-concrete);
  background-image: url(/img/triangles.png);
  background-repeat: repeat;
  width: 70%;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: auto;
  height: auto;
}

.hidden-input {
  display: none;
}

.section {
  background-color: #222;
  background-image: url(img/triangles.png);
  width: 100%;
  padding: 20px;
  border: 1px solid color-mix(in srgb, var(--digital-green) 40%, transparent);
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  margin-bottom: 10px;
}

.section:hover {
  border-color: var(--digital-green);
  background: linear-gradient(135deg, transparent 0%, #1A1A1A 10%, #333 30%, transparent 50%);
}
.section:hover .title-wrapper h2 {
	color : var(--digital-green);
}
.section:hover .vertical-line2 {
  background: radial-gradient(circle, var(--digital-green) 20%, transparent 80%);
}

.section .content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.hidden-input:checked+.section {
  border-color: var(--digital-green);
}

.hidden-input:checked+.section .content {
  max-height: 500px;
  opacity: 1;
  padding-top: 15px;
}

.hidden-input:checked+.section .title-wrapper h2 {
  color: var(--digital-green);
}

.hidden-input:checked+.section .vertical-line2 {
  background: radial-gradient(circle, var(--digital-green) 20%, transparent 80%);
}

.title-wrapper {
  display: flex;
  align-items: center;
  width: 25%;
  min-width: 400px;
  max-width: 450px;
  white-space: nowrap;
}

.title-wrapper h2 {
  margin-left: 10px;
  font-family: 'Orbitron', sans-serif;
  color: var(--text-color);
}

.image-title {
  display: flex;
  align-items: center;
}

.stock-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 20px;
}

.vertical-line2 {
  width: 2px;
  background-color: var(--dark-concrete);
  height: 150px;
  margin: 0 20px;
}

.snippet-card {
  display: flex;
  background-color: #0f0f0f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  will-change: transform, box-shadow;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--digital-green);
  color: var(--text-color);
  font-family: 'Space Mono', monospace;
}

.snippet-card img {
  width: 80px;
  height: 80px;
  margin: 0 auto 15px auto;
}

.snippet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(102, 255, 153, 0.3);
}

.snippet-card h3,
.snippet-card p,
.snippet-card a {
  color: var(--text-color);
}

.snippet-card a:hover {
  text-decoration: underline;
}

.spacer-small {
  min-height: 5px;
  max-height: 5px;
  width: 100%;
}

.spacer-medium {
  min-height: 10px;
  max-height: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    background-color: var(--dark-concrete);
    color: var(--white);
    overflow-y: auto;
    height: auto;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .main-content {
    width: 100%;
    padding: 20px;
  }

  .section {
    width: 100%;
    min-height: auto;
    padding: 30px;
  }

  .section .content {
    width: 100%;
    text-align: center;
  }

  .image-title {
    flex-direction: column;
    align-items: center;
  }

  .title-wrapper {
    flex-direction: column;
    width: 100%;
    min-width: unset;
    max-width: unset;
    text-align: center;
  }

  .stock-image {
    width: 80%;
    max-width: 300px;
    margin-bottom: 15px;
  }

  .vertical-line2 {
    display: none;
  }

  .short-description {
    margin-top: 10px;
    text-align: center;
    padding: 0 10px;
  }

  .snippet-card {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .snippet-card img {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px auto;
  }
}
